html {
  background-color: #2b2c34;
  color: #fff;
  font-family: "Roboto Slab", serif;
  background-image: url("../images/background.gif");
}

input {
  color: #2b2c34;
}

header {
  background-color: rgba(25, 27, 35, .8);
  max-height: 5rem;
}

footer {
  background-color: rgba(25, 27, 35, .8);
}

header a {
  color: #fff;
}

.card {
  background-color: rgba(92, 96, 97, .35);
}

.btn {
  font-family: Exo, sans-serif;
  background-color: rgba(92, 96, 97, .3);
  border: solid 2px rgba(255, 255, 255, .1);
  border-radius: 8px;
}

.btn:hover {
  background-color: rgba(92, 96, 97, .6);
  border: solid 2px rgba(255, 255, 255, .3);
}

.svg {
  max-height: 3.5rem;
  border-width: 3px;
}

.logo {
  max-height: 6rem;
}

.diamond {
  max-width: 2.5rem;
}

.compare {
  max-height: 4rem;
}

h1 {
  font-family: Exo, sans-serif;
}

h2 {
  font-family: Exo, sans-serif;
}

h3 {
  font-family: Exo, sans-serif;
}

.tera {
  font-family: Exo, sans-serif;
}

.ryan {
  max-width: 50%;
}

.beginner .border-left {
  border-left: 2px solid rgba(148, 158, 255, .4);
}

.beginner .border-right {
  border-right: 2px solid rgba(148, 158, 255, .4);
}

.pro .border-left {
  border-left: 2px solid rgba(204, 161, 255, .4);
}

.pro .border-right {
  border-right: 2px solid rgba(204, 161, 255, .4);
}

.business .border-left {
  border-left: 2px solid rgba(152, 135, 232, .4);
}

.business .border-right {
  border-right: 2px solid rgba(152, 135, 232, .4);
}

th {
  border: 0;
}

td {
  border: 0;
}

.btn-col {
  width: 7em;
}
